<h2>Professional Experience</h2>

<div class="timeline">

  @for (exp of experiences(); track exp.company) {

    <div class="timeline-item">

      <div class="timeline-dot"></div>

      <div class="timeline-content">

        <h3>{{ exp.company }}</h3>

        <p class="role">
          {{ exp.role }}
        </p>

        <p class="duration">
          {{ exp.duration }}
        </p>


        <ul>

          @for (highlight of exp.highlights; track highlight) {

            <li>
              {{ highlight }}
            </li>

          }

        </ul>


        <div class="tech-tags">

          @for (tech of exp.technologies; track tech) {

            <span class="tech-tag">

              {{ tech }}

            </span>

          }

        </div>

      </div>

    </div>

  }

</div>