<h2>Enterprise Project Experience</h2>

<div class="projects-container">

  @for (project of projects(); track project.title) {

    <div class="project-card">

      <h3>{{ project.title }}</h3>

      <p class="company">{{ project.company }}</p>

      <p>{{ project.description }}</p>


      <h4>Tech Stack</h4>

      <div class="tags">

        @for (tech of project.techStack; track tech) {
          <span class="tag tech">
            {{ tech }}
          </span>
        }

      </div>


      <h4>Architecture</h4>

      <div class="tags">

        @for (arch of project.architecture; track arch) {
          <span class="tag architecture">
            {{ arch }}
          </span>
        }

      </div>


      <p class="impact">
        Impact: {{ project.impact }}
      </p>

    </div>

  }

</div>